

    <a class="open-dialog" title="查看订单" :href="'/shop/admin/order/show?id=' + row.id">查看</a> 
    <a v-if="isShow('pay', row)" @click="handlePay(row)">付款</a>
    <a v-if="isShow('ship', row)" @click="handleShip(row)">发货</a>
    <a v-if="isShow('refundAuto', row)" @click="handleRefund(row, 1)">原路退款</a>
    <a v-if="isShow('refund', row)" @click="handleRefund(row, 2)">手动退款</a>
    <a v-if="isShow('exchange', row)" @click="handleExchange(row)">换货</a>
    <a v-if="isShow('reject', row)" @click="handleReject(row)">拒绝售后</a>
