<div class="menu-group">
    <a class="menu-group-title" data-toggle="collapse" href="#menu-group-shop" aria-expanded="true" aria-controls="menu-group-center">
        商城 
    </a>
    <div class="collapse show menu-group-content" id="menu-group-shop">
        <a href="/shop/index/cart/index.html" class="menu-group-item {:ev('CmsActive', 'shop', 'index/Cart', 'index') ? 'active' : ''}">购物车</a>
        <a href="/shop/index/order/index.html" class="menu-group-item {:ev('CmsActive', 'shop', 'index/Order', 'index') ? 'active' : ''}">我的订单</a>
    </div>
</div>